@charset "utf-8";

/*轮播图样式*/

.l-frame {
    position: relative;
    padding-bottom: 13%;
    width: 100%;
}

.l-move+.l-move {
    opacity: 0;
    /*前一张图片动画结束时，下一张图片重新开始播放动画*/
}

.l-imgstyle {
    padding-bottom:13%;
    width: 100%;
    position: absolute;
    animation-timing-function: linear;
    /*线性代数，动画*/
    animation-name: play;
    /*动画名称*/
    animation-iteration-count: infinite;
    /*动画效果，不断循环*/
    animation-duration: 20s;
    /*动画时长*/
    background-size: 100%;
    /*图片自适应*/
}

.l-play {
    list-style: none;
}

.l-img1 {
    background-image: url(../img/task15-3-1.png);
}

.l-img2 {
    background-image: url(../img/task15-3-2.png);
}

.l-img3 {
    background-image: url(../img/task15-3-3.png);
}

@keyframes play {
    0% {
        opacity: 0;
        z-index: 2;
    }
    /*隐藏到出现*/
    5% {
        opacity: 1;
        z-index: 1;
    }
    /*停留*/
    25% {
        opacity: 1;
        z-index: 1;
    }
    /*出现到隐藏*/
    30% {
        opacity: 0;
        z-index: 0;
    }
    /*一直隐藏*/
    100% {
        opacity: 0;
        z-index: 0;
    }
    /*动画效果设置*/
}

.l-move1 {
    animation-delay: -1s;
}

.l-move2 {
    animation-delay: 4s;
}

.l-move3 {
    animation-delay: 9s;
}

.l-move4 {
    animation-delay: 14s;
}

/*动画时间*/

.border-b{
    border-bottom:.01rem solid #ccc;
}

.company{
	padding-left:.5rem;
	font-size:.1rem;
}

.green{
	color:rgb(41, 176, 120);
}
.list-title{
	padding-bottom:.1rem;
	width:100%!important;
	font-size:.15rem;
	font-weight:bold;
	text-align:center;
	border-bottom:.01rem solid #ccc;
}
.middle{
    margin:0 auto;
    width:80%;

}

.box{
    float:left;
}

.orange{
    color:#ff650e!important;
}

.orange-a{
    background-color:#ff650e!important;
}

.list{
    margin:0 auto;
	width:2.5rem;
	font-size:.1rem;
	text-align:left;
	list-style:none;
	border:.01rem solid #ccc;
	a{
		color:#29b078;
		text-decoration:none;
	}
	a:hover{
		color:#ff650e;
	}
	a:hover .circular{
		background-color:#ff650e;
	}
	li{
		display:block;
		margin:.1rem auto;
		width:1rem;
	}
}



.circular{
	display:inline-block;
	border:.01rem solid #ff650e;
	width:.1rem;
	height: .1rem;
	border-radius: 50%;
	margin-right: .1rem;
}

.list-introduce{
    color:#999999;
    font-size:.1rem;
    border:.01rem solid #ccc;
    list-style:none;
    margin-bottom:.5rem;
    li{
        padding:.1rem;
        overflow:hidden;
        span{
            vertical-align:middle;
        }
    }
}

.list-picture{
    float:left;
}


@media only screen and (max-width: 9999px) {
    .box{
        width:45%;
    }
}

@media only screen and (max-width: 886px) {
    .box{
        width:100%;
    }
    .list{
        width:100%;

    }
     .list-introduce{
        width:100%;
     }
}
