@charset "utf-8";


/*不使用的话，无法在scss中使用中文注释*/

@mixin imgstyle($x, $y, $width, $height) {
    width: $width;
    height: $height;
    background: url(../img/task15-1.png);
    background-position: $x $y;
    background-size: 5.73rem 6.27rem;
}


/*雪碧图公用样式*/

.line {
    overflow: hidden;
}

.box {
    float: left;
    padding: .1rem .1rem;
}

@media only screen and (max-width: 9999px) {
    .box {
        width: 31%;
    }
}

@media only screen and (max-width: 1225px) {
    .box {

        width: 45%;
    }
}

@media only screen and (max-width: 820px) {
    .box {
        width: 100%;
    }
}

.skill {
    margin: 0 .5rem .1rem .5rem;
    padding: 0 .1rem .1rem .1rem;
    font-size: .1rem;
    border-bottom: .01rem solid #ccc;
}

.skill-occupation {
    color: #29b078;
}



.direction {
    span {
        margin-right: .05rem;
    }

    a {
        color: black;
        text-decoration: none;
    }
}

.direction-gray {
    color: #ccc;
    font-size: .05rem;
}

.jobtitle {
    padding: .2rem 0;
}

.box-line {
    margin: 0 .5rem .1rem .5rem;
    padding: 0 .1rem .1rem .1rem;
    overflow: hidden;
}

.width100 {
    width: 100%!important;
}

.introduce {
    font-size: 0;
    border: .01rem solid #ccc;
    list-style: none;
    li {
        display: inline-block;
        width: 100%;
        font-size: .1rem;
    }
}

.picture {

    display: inline-block;
    padding: .05rem;
}

.picture-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    h4 {
        text-align: center;
        margin: .1rem 0;
    }
}

.breadword {
    word-break: break-all;
}

.introduce-border {
    border-bottom: .01rem solid #ccc;
}

.introduce-style {
    display: inline-block;
    width: 40%;
    border-right: .01rem solid #ccc;
    p {
        display: inline-block;
    }
}

.red {
    color: red;
}

.introduce-money {
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
}

.introduce-year {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    border-left: .01rem solid #ccc;

    span {
        display: block;
        width: 100%;
        p {
            float: right;
        }
    }
}

.hide {
    position: relative;
}

.hide-index {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: left;
    color: white;
    -ms-word-break: break-all;
    opacity: 0;
    background-color: black;
    h4 {
        margin-top: 10%;
        text-align: center;
    }
    p {
        padding: .1rem;
    }
}


.hide:hover .hide-index {
    transition: 3s;
    opacity: 0.7;
}
