*{
	padding:0;
	margin:0;
	font-size: 62.5%;
	font-family: 微软雅黑;
	max-width: 640px;
	margin:0 auto;
}

body{
	margin:30% auto;

	
}

.top{
	position: fixed;
	width:100%;
	top:0;
	background-color:white;
}

.nav{
	width:98%;
	padding:1rem 1%;
	background-color:#5fc0cd;
	text-align: center;
	overflow: hidden;
	
}

.nav div{
	display: inline;
	vertical-align:middle;
	
	
}

.nav img{
	float:right;
	display:inline-block;
	vertical-align:middle;

}

.navspan1{
	font-size: 3rem; 
	border-radius: 10px; 
	color: white;
	background-color:#55a8b3;
	vertical-align: middle;
	padding:1% 3%;
	margin-right:-2%;
}

.navspan2{
	font-size: 3rem;
	color: #5fc0cd;
	border-radius: 10px;
	background-color: white;
	vertical-align: middle;
	padding:1% 3%;
}


.navul{
	width: 100%;
	font-size: 10em;
	color:#999999;
	border-bottom: 1px solid #d0d0d0;
	padding:auto;
	text-align:center;
	list-style:none;
}

.navul li p{
	display:inline-block;
	vertical-align:middle;
}
.navul li img{
	display:inline-block;
	vertical-align:middle;
	margin-left: 5rem;
}
.navulli1{
	width: 30%;
	display: inline-block; 
	border-right: 1px solid #d0d0d0 ;
	
}

.navulli2{
	width: 30%;
	display: inline-block;
	
}

.middleul{
	margin:1% 5%;
	list-style:none;
	border-bottom:1px solid #d0d0d0;
	padding-left: 5%;

}

.middleli1{
	list-style-image: url(../img/TASK5-2middle1.png);
	font-size: 3rem;
	color:#999999;

}

.middlep1{
	display:inline-block;
	vertical-align:middle;
	font-size:2rem;
}
.middleli2 img{
	float: right;
	display:inline-block;
	vertical-align: middle;
	margin-left:1%;
	
}

.middlep2{
	float: right;
	color: red;
	display:inline-block;
	vertical-align: middle;
	font-size:2rem;
	
}

.middleli3{
	list-style-image: url(../img/TASK5-2middle2.png);
	font-size:3rem;
	color:#999999;
}

.middlediv{
	width: 100%;
	border-bottom: 1px solid #999999;
}

.bottom{
	position:fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	border-top: 1px solid #c2c2c2;
	padding-bottom: 5%;
}

.bottom ul{
	width: 100%;
	text-align: center;
	margin-top: 1%;
}

.bottom li{
	width: 30%;
	display: inline-block;
}

.bottomp1{
	color: #5fc0cd;
	margin-top: 1%;
}

.bottomp2{
	color: #c2c2c2;
	margin-top: 1%;
}