* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

}

body {
    margin: 15rem 0 15rem 0;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.head {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: .1rem solid #ccc;
}

.nav {
    display:block;
    padding: 1rem 1rem;
    background-color: #5fc0cd;
    text-align: center;
    overflow: hidden;
}

.nav img {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.nav button {
    padding: 1% 2%;
    font-size: 2rem;
    vertical-align: middle;
    border: none;
    border-radius: 0.5rem;
}

.nav-findemploy {
    color: white;
    background-color: #55a8b3;
    margin-right: -2%;
}

.nav-findcarework {
    color: #5fc0cd;
    background-color: white;
}


.navlist {
    width: 100%;
    font-size: 2rem;
    color: #999999;
    list-style: none;
}

.navlist li {
    float: left;
    margin: 1rem auto;
    width: 33%;
    text-align: center;
    display: inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navlist li p {
    display: inline-block;
    vertical-align: middle;
}

.navlist li img {
    display: inline-block;
    vertical-align: middle;
}

.nav-place {
    border-right: 1px solid #d0d0d0;
}

.middle {
    margin: 0 5rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    color: #999999;
    list-style: none;
    border-bottom: 1px solid #d0d0d0;

}

.middlelist{
    list-style:none;

}

.middle-service {
    list-style-image: url(../img/TASK5-2middle1.png);
}

.middleimg {
	display: inline-block;
    vertical-align: middle;
}

.middle-cost {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: red;
}

.middle-data {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    color: black;

}





.middle-place {
    list-style-image: url(../img/TASK5-2middle2.png);
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #c2c2c2;
    padding-bottom: 5%;
}

.bottom ul {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.bottom li {
    width: 30%;
    display: inline-block;
}

.bottom-home {
    color: #5fc0cd;
    margin-top: 1%;
}

.bottom-myself {
    color: #c2c2c2;
    margin-top: 1%;
}
