*{
	margin:0;
	padding: 0;
	font-size: 62.5%;
}
body{
	width:100%;
}
.nav{
	width:98%;
	text-align: center;
	overflow: hidden;
	padding:1% 1%; 
	background-color: #5fc0cd;
}

.nav img{
	display: inline-block;
	float: left;
	width: 1em;
}

.nav span{
	display: inline-block; 
	color: white;
	font-size: 5em;	
	color:white;
	vertical-align: middle;
}

.top{
	width: 100%; 
	background:url(../img/TASK5TOPBACKIMG.png);
	background-size:cover; 
	overflow: hidden;
}
.top img{
	width:10%;
	padding:5% 5%;
	display: inline-block;
	vertical-align: middle;
}

.top ul{
	display: inline-block;
	vertical-align: middle;
	color:white;
	list-style:none;

}

.s1{
	font-size: 15em;
	vertical-align: top;

}

.s2{
	font-size: 13em;
	vertical-align: top;
}

.l1{
	margin-top: 1em;
}

.l1 img{
	width:1em;
	vertical-align: middle;


}

.s3{
	font-size: 5em;
	vertical-align: middle;
}

.middle{
	width:96%;
	padding:1% 2%; 
	border-bottom: 1px solid #e1e5e7;
}

.middle span{
	padding-left: 1em; 
	font-size: 5em;
	font-weight: bolder;
	border-left: 2px solid #5fc0cd;
}

.middleul{
	font-size:5em;
	margin:auto 5%;
	list-style:none;	
}

.middleul img{
	width: 1.5em;
}
.middleul li{
	border-bottom:1px solid #e1e5e7;
}
.middlespan{
	border-left: 1px solid #e1e5e7;
	padding-left: 1em;
}

.spanred{
	color:red;
}

.spanbottom{
	display:inline-block;
	vertical-align: middle;
	width:50%;
	font-size:0.5em;
}

.bu1{
	padding:3% 2%;
	margin: 1% 4%;
	width: 40%;
	border-radius:10px;
	border: 1px solid #5fc0cd;
	font-size: 5em;
	text-align: center;
	color: #5fc0cd;
	background: white;
}

.bu2{
	 padding: 3% 2%;
	 margin: 1% 4%;
	 width: 40%;
	 border-radius:10px;
	 border: 1px solid #5fc0cd;
	 font-size: 5em;
	 text-align: center;
	 color: white;
	 background: #5fc0cd;
}