@mixin imgstyle($x, $y, $width, $height) {
    background: url(../img/TASK6-2.png);
    background-position: $x $y;
    width: $width;
    height: $height;
}

@mixin topbottomstyle {
    position: fixed;
    z-index: 999;
    width: 100%;
}

$color1:white;

body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.topnav {
    @include topbottomstyle;
    top: 0;
}

.top1 {
    background-color: rgb(95, 192, 205);
    height: 70px;
    overflow: hidden;
    padding: 10px 30px 10px 30px;



    button {
        border: none;
        border-radius: 0.5rem;
        font-size: 2rem;
        padding: 1rem;
    }
}

.top1middle {
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    min-height: 70px;
}

.top1left {
    margin-left: -100%;
    left: -30px;
    width: 30px;
    float: left;
    position: relative;
    min-height: 70px;
}

.top1right {
    margin-left: -30px;
    width: 30px;
    position: relative;
    float: left;
    min-height: 70px;
}

.top1right span {
    @include imgstyle(0, 0, 42px, 44px);
    display: inline-block;
}

.top1bu1 {
    color: $color1;
    background-color: rgb(85, 168, 179);
}

.top1bu2 {
    margin-left: -1rem;
    color: rgb(95, 192, 205);
    background-color: $color1;
}

.top2 {
    background-color: $color1;
    border-bottom: 1px solid rgb(175, 186, 192);
    font-size: 2rem;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 32%;
    text-align: center;
}

.dropdown button {
    background-color: white;
    border: none;
    outline: 0 none !important;
}

.triangle {
    @include imgstyle(0, -54px, 13px, 8px);
    display: inline-block;
    margin-left: 1rem;
}

.dropbtn {
    color: #afbac0;
    border-right: 1px solid rgb(175, 186, 192);
    margin: 5% auto;
    padding: 5% auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(175, 186, 192);
    background-color: white;
    ul {
        list-style: none;
        text-align: center;
        padding: 0
    }
}

.dropdown-content a {
    color: rgb(175, 186, 192);
    text-decoration: none;
    display: block;
    background-color: $color1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover a {
    background-color: #ccc;
}


.middle {
    padding-top: 20%;
    border-bottom: 1px solid #fff;
    li {
        border-right: none;
        border-radius: none;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.middlespan1 {
    @include imgstyle(0, -65px, 24px, 24px);
    margin-right: 1%;
}

.middlespancolor {
    color: rgb(175, 186, 192);
}

.middlediv {
    color: rgb(51, 51, 51);
    margin: 1% auto;
}

.middlespan2 {
    @include imgstyle(0, -125px, 19px, 33px);
}

.middlered {
    color: red;
}

.middlespan3 {
    @include imgstyle(0, -95px, 19px, 23px);
    margin-right: 1%;
}

.bottom {
    @include topbottomstyle;
    bottom: 0;
    background-color: $color1;
    text-align: center;
    span {
        display: inline-block;
    }
    div {
        display: inline-block;
        vertical-align: middle;
    }
}

.bottomdiv1 {
    text-align: center;
    a {
        color: rgb(95, 192, 205);
        text-decoration: none;
    }
}

.bottomdiv1span1 {
    @include imgstyle(0, -200px, 46px, 40px);
}

.bottomdiv1span2 {
    color: rgb(95, 192, 205);
}

.bottomdiv2 {
    margin: 0 15%;
    span {
        @include imgstyle(0, -243px, 94px, 95px);
    }
}



.bottomdiv3 {
    @extend .bottomdiv1;
}

.bottomdiv3span1 {
    @include imgstyle(0, -159px, 42px, 41px);
}

.bottomdiv3span2 {
    color: rgb(200, 201, 202);
}
