@mixin imgstyle($x, $y, $width, $height) {
    width: $width;
    height: $height;
    background: url(../img/TASK6-1.png);
    background-position: $x $y;
    background-size:1.69rem 2.53rem;
}


%center {
    display: inline-block;
    vertical-align: middle;
}

html{
    font-size:625%;
}

.header {
    position: relative;
    width: 100%;
    padding: .1rem .1rem;
    text-align: center;
    background-color: rgb(95, 192, 201);
}

.headerspan1 {
    position: absolute;
    left: 0;
    display: inline-block;
    margin-left: .1rem;
    @include imgstyle(0, 0, .21rem, .35rem);
}

.headerspan2 {
    display: inline-block;
    color: white;
    font-size: .25rem;
}

.nav {
    width: 100%;
    padding: .1rem .1rem;
    background-image: url(../img/TASK6-1background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.navpicture {
    @extend %center;
    @include imgstyle(0, -.35rem, 1.7rem, 1.7rem);
}

.navlist {
    @extend %center;
    list-style: none;
    color: white;
}

.navlistpicture {
    @extend %center;
    @include imgstyle(0, -2.07rem, .18rem, .24rem);
}

.navlistspan1 {
    font-size: .3rem;
}

.navlistspan2 {
    font-size: .2rem;
}

.navlistword {
    @extend %center;
    font-size: .15rem;
}

.middle {
    width: 100%;
    padding: .1rem .1rem;
}

.middleskill {
    border-left: .02rem solid rgb(95, 192, 201);
    padding-left: .1rem;
    font-size: .2rem;
}

.middlelist {
	padding:0;
	padding-left:.1rem;
	list-style: none;
    border-top: .01rem solid #ccc;
    border-bottom: .01rem solid #ccc;
}

.mgray{
    color:#ccc;
}

.mred{
    color:red;
}

.mll1 {
    padding: .1rem 0 .1rem 0;
}

.mll1s1 {
    @extend %center;
    @include imgstyle(0, -2.3rem, .24rem, .24rem);
}

.mll1s2 {
    @extend %center;
    font-size: .25rem;
    border-right: .01rem solid #ccc;
    padding-right: .1rem;

}

.mll1s3 {
    @extend %center;
    font-size: .25rem;
}

.mll1s4{

    display: inline-block;
    width:35%;
    font-size: .2rem;
    vertical-align: middle;

}
.mll2 {
    border-top: .01rem solid #ccc;
    @extend .mll1;
}

.footer {
	width:100%;
    text-align: center;
    button {
        width: 1rem;
        font-size: .2rem;
        border-radius: .1rem;
        border: .01rem solid #5fc0cd;
        text-align: center;
    }
}

.bottombu1 {
    color: #5fc0cd;
    background: white;
}

.bottombu2 {
    color: white;
    background: #5fc0cd;
}
