@mixin imgstyle($x, $y, $width, $height) {
    width: $width;
    height: $height;
    background: url(../img/TASK6-2.png);
    background-position: $x $y;
    background-size: .94rem 3.37rem;
}

@mixin topbottomstyle {
    position: fixed;
    z-index: 999;
    width: 100%;
}

$color1:white;

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 625%;
}

.head {
    @include topbottomstyle;
    top: 0;
}

.head-top {
    position: relative;
    padding: .1rem .1rem;
    text-align: center;
    background-color: rgb(95, 192, 205);
}

.top-middle {
    display: inline-block;
    button {
        border: none;
        border-radius: .05rem;
        font-size: .2rem;
        padding: .1rem;
    }
}

.top-right {
    @include imgstyle(0, 0, .42rem, .44rem);
    position: absolute;
    right: .1rem;
}

.top-findemploy {
    color: $color1;
    background-color: rgb(85, 168, 179);
}

.top-findcarework {
    margin-left: -.1rem;
    color: rgb(95, 192, 205);
    background-color: $color1;
}

.head-list {
    background-color: $color1;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: .1rem auto;
    width: 33%;
    text-align: center;
    border-right: .01rem solid rgb(175, 186, 192);
}

.dropdown button {
    font-size: .2rem;
    color: #afbac0;
    background-color: white;
    border: none;
    outline: 0 none !important;
}

.triangle {
    @include imgstyle(0, -.54rem, .13rem, .08rem);
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border: .01rem solid #ccc;
    background-color: white;
    ul {
        font-size: .2rem;
        text-align: center;
        list-style: none;
    }
    a {
        display: block;
        color: rgb(175, 186, 192);
        text-decoration: none;
        background-color: $color1;
    }
}



.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover a {
    background-color: #ccc;
}


.middle {
    padding-top: 2rem;
    border-bottom: .01rem solid #fff;
    li {
        border-right: none;
        border-radius: none;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.middlespan1 {
    @include imgstyle(0, -.65rem, .24rem, .24rem);
    margin-right: .1rem;
}

.middlespancolor {
    color: rgb(175, 186, 192);
}

.middlediv {
    color: rgb(51, 51, 51);
    margin: .1rem auto;
}

.middlespan2 {
    @include imgstyle(0, -1.25rem, .19rem, .33rem);
}

.middlered {
    color: red;
}

.middlespan3 {
    @include imgstyle(0, -.95rem, .19rem, .23rem);
    margin-right: .1rem;
}

.bottom {
    @include topbottomstyle;
    bottom: 0;
    background-color: $color1;
    text-align: center;
    span {
        display: inline-block;
    }
    div {
        display: inline-block;
        vertical-align: middle;
    }
}

.bottomdiv1 {
    text-align: center;
    a {
        color: rgb(95, 192, 205);
        text-decoration: none;
    }
}

.bottomdiv1span1 {
    @include imgstyle(0, -2rem, .46rem, .4rem);
}

.bottomdiv1span2 {
    color: rgb(95, 192, 205);
}

.bottomdiv2 {
    margin: 0 1.5rem;
    span {
        @include imgstyle(0, -2.43rem, .94rem, .95rem);
    }
}



.bottomdiv3 {
    @extend .bottomdiv1;
}

.bottomdiv3span1 {
    @include imgstyle(0, -1.59rem, .42rem, .41rem);
}

.bottomdiv3span2 {
    color: rgb(200, 201, 202);
}
