@mixin imgstyle($x, $y, $width, $height) {
    background: url(../img/TASK6-1.png);
    background-position: $x $y;
    width: $width;
    height: $height;
}
%center{
	display:inline-block;
	vertical-align:middle;
}

.header{
	width:100%;
	background-color: rgb(95,192,201);
	text-align: center;
	overflow: hidden;
	padding:1% 1%;
}


.headerspan1{
	@include imgstyle(0,0,21px,35px);
	float:left;
}

.headerspan2{
	color:white;
	font-size: 2.5rem;
}

.nav{
	background-image: url(../img/TASK6-1background.png);
	background-size:cover;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
	padding:1% 1%;
}

.navpicture{
	@extend %center;
	@include imgstyle(0,-35px,170px,170px);
}

.navlist{
	@extend %center;
	list-style: none;
	color:white;
}

.navlistpicture{
	@extend %center;
	@include imgstyle(0,-207px,18px,24px);

}

.navlistspan1{
	font-size:3rem;
}

.navlistspan2{
	font-size:2rem;
}

.navlistword{
	@extend %center;
	font-size: 1.5rem;
}

.middle{
	width:100%;
	padding: 1% 1%;
}

.middleskill{
	border-left: 2px solid rgb(95,192,201);
	padding-left: 1%;
	font-size: 2rem;
}

.middlelist{
	list-style: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.mll1{
	padding:1% 0 1% 0;
}

.mll1s1{
	@extend %center;
	@include imgstyle(0,-230px,24px,24px);
}

.mll1s2{
	@extend %center;
	font-size: 2.5rem;
	border-right: 1px solid #ccc;
	margin-right: 2%;
	padding-right: 2%;
}

.mll1s3{
	@extend %center;
	font-size: 2.5rem;

}

.mll2{
	border-top: 1px solid #ccc;
	@extend .mll1;
}

.footer{
	text-align: center;
	button{
	padding:3% 2%;
	margin: 1% 4%;
	width: 40%;
	border-radius:10px;
	border: 1px solid #5fc0cd;
	font-size: 5em;
	text-align: center;
	}
}

.bottombu1{
	color: #5fc0cd;
	background: white;
}

.bottombu2{
	color: white;
	background: #5fc0cd;
}
