* {
    font-size: 62.5%;
}

body {
    background-color: #68cdd5;
}


.top {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}


.middle {
    width: 50%;
    margin: 2rem auto;
    font-size: 1rem;
    color: white;
}

.bottom {
    width: 50%;
    margin:0 auto;
    font-size: 1rem;
    color: white;
    text-align:center;
}

.bottom img{
    width:5rem;
}

.bottom-left {
	float:left;
    text-align: center;
}

.bottom-right {
	float:right;
    text-align: center;
}
