*{
	padding:0;
	margin:0;
}

body{
	font-family: 微软雅黑;
	width:100%;
}

.topdiv1 button{
	border:none;
	font-size:1.8rem;


}
.middleform1{
	font-size:1.8rem;
}

.middleform2{
	font-size:1.8rem;
	text-align:left;



}

@media only screen and (max-width: 767px) { 
	.middleform1{
		text-align:center;
	}
	.middleform1 form label{
		display:block;

	}

}

@media only screen and (max-width: 992px) {
	.middleform2{
		text-align:center;
	}
}