* {
    margin: 0;
    padding: 0
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 640px;
    min-width: 320px;
}

.nav {
    width: 100%;
    background-color: #5fc0cd;
    color: white;
    overflow: hidden;
    text-align: center;
    height: 3rem;
    padding: 1rem 0;


    p {
    display: inline-block;
    line-height: 3rem;
    font-size: 2rem;
    }
}

.navright {
    float: right;
    margin-right: 1rem;
    font-size: 1.5rem;
    background-color: #5fc0cd;
    color:white;
    border:none;
    line-height:3rem;
}

.navleft {
    float: left;
    display:inline-block;
    vertical-align:middle;
    margin-left: 1rem;
    font-size: 1.5rem;
    background-color: #5fc0cd;
    color:white;
    border:none;
    line-height:3rem;
}

ul {
    list-style: none;
    background-color: #eff0f4;
    padding: 1rem 0;



    li {
    background: white;
    margin-top: 1rem;
    }
}

    img {
    margin: 1rem 1rem;
    vertical-align: middle;
    width: 1.3rem;
    }

    input {
    padding-left: 1rem;
    vertical-align: middle;
    border: none;
    border-left: 1px solid #eff0f4;
    font-size: 1.3rem;

    }

.login {
    width: 100%;
    background-color: #5fc0cd;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem 0
}

.bottomword {
    float: right;
    font-size: 1.5rem;
    color: #5fc0cd
}
