body {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

@mixin imgstyle($x, $y, $width, $height) {
    background: url(../img/TASK7-2.png);
    background-position: $x $y;
    width: $width;
    height: $height;
}

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 640px;
    background-color: #29bde0;


}

.navhead {
    padding: 1% 1%;
    background-color: #29bde0;
    text-align: center;

}

.navleftimg {
    @include imgstyle(0, 0, 39px, 40px);
    display: inline-block;
    float: left;
}

.navheadword {
    color: white;
    font-size: 30px;
}

.navrightimg {
    @include imgstyle(0, -40px, 36px, 36px);
    display: inline-block;
    float: right;
}

.navmiddle {
    padding: 1% 1%;
    background-color: #b9e9f5;
    overflow: hidden;

    button {
        @include imgstyle(0, -76px, 52px, 52px);
        float: right;
        display: inline-block;
        background-color: #b9e9f5;
        vertical-align: middle;
        border: none;


    }
}

.navmiddleword {
    padding-left: 5%;

    font-size: 3rem;
    vertical-align: middle;

}

.triangle {

    width: 0;
    height: 0;
     margin-left: 10%;
    border-color: #b9e9f5 transparent transparent transparent;
    border-width: 0.5rem;
    border-style: solid;
}

.navbottom {
    padding-left: 10%;
    font-size: 2rem;
    color: white;
    background-color: #29bde0;



}

.click {
    width: 136px;
    height: 136px;
    padding: 0;
    margin: 0 5%;
    text-align: center;

}

.pi {
    display: none;
    margin-top: 21px;
}

.pi div {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: white;

}

.pi p {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto;

}

.piimg1 {
    @include imgstyle(0, -128px, 27px, 17px);
}

.piimg2 {
    @include imgstyle(0, -145px, 18px, 20px);
}

.piimg3 {
    @include imgstyle(0, -165px, 26px, 25px);
}

.piimg4 {
    @include imgstyle(0, -190px, 14px, 14px);
}

.click:hover .pi {
    display: block;
}

.middletop {
    padding-top: 200px;
    background-color: #29bde0;
}

.middle {
    background-color: #29bde0;
}

.middlediv {
    width: 17vh;
    height: 15vh;
    margin: 0 auto;
    position: relative;
    border: 5px solid white;
    background-color: #f5c97b;

}

.middledivspan1 {
    display: inline-block;
    margin-top: 20%;
    color: #71685b;
    font-size: 4vh;

}

.middledivspan2 {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #83b09a;
    color: white;

}

.bottom {
    padding-bottom: 200px;
    background-color: #29bde0;
}

.bottomdiv {
    max-width: 640px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #29bde0;

}

.bottombutton {
    border: none;
    padding: 4% 35%;
    margin: 5% auto;
    background-color: #fbb435;
    color: white;
    font-size: 1.8em;
}
