body {
    max-width: 720px;
    min-width: 480px;
    margin: 0 auto;
}

@mixin imgstyle($x, $y, $width, $height) {
    background: url(../img/TASK7-1.png);
    background-position: $x $y;
    width: $width;
    height: $height;
}

.backcolor {
    background-color: #f0f0f0;
    width: 100%;
}

.nav {
    background-color: #29bde0;
    width: 100%;
    span {
        @include imgstyle(0, 0, 34px, 27px);
        display: inline-block;
        margin: 1rem 1rem;
    }
}

.lastgame {
    width: 80%;
    background-color: white;
    border: 1px solid #c9c9c9;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 1rem;
    a {
        display: inline-block;
        vertical-align: middle;
        color: #9a9a9a;
        font-size: 3rem;
        text-decoration: none;
    }
    span {
        @include imgstyle(0, -27px, 24px, 40px);
        display: inline-block;
        vertical-align: middle;
        float: right;
    }
}

.middle {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #c9c9c9;
    position: relative;
}

.catchghost {
    display: inline-block;
    border-bottom: 1px solid #fdd793;
    width: 100%;
    color: #fbb435;
    font-size: 30px;
}

.buttonstyle {
    border: none;
    background-color: #69d1e9;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 1rem;
    span {
        color: white;
        font-size: 2rem;
    }
}

.player {
    width: 80%;
    vertical-align: center;
    margin: 0 auto;
    color: #8d8d8d;
    font-size: 2rem;
}

.footcircle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 45%;
    background-color: #f0f0f0;

    :hover {
        background-color: #69d1e9;
    }
}

.righttriangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 93%;
    border-top: 20px solid transparent;
    border-left: 20px solid #fbb435;
    border-bottom: 20px solid transparent;
}
