body {
    max-width: 640px;

    width: 100%;

    margin: 0 auto;
}

@mixin imgstyle($x, $y, $width, $height) {
    background: url(../img/TASK7-2.png);
    background-position: $x $y;
    width: $width;
    height: $height;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #29bde0;
    z-index: 1;
    max-width: 640px;
}

.navtop {
    background-color: #29bde0;
    text-align: center;
    padding: 1% 1%;
}

.navleftimg {
    @include imgstyle(0, 0, 39px, 40px);
    display: inline-block;
    float: left;
}

.navtopword {
    color: white;
    font-size: 30px;
}

.navrightimg {
    @include imgstyle(0, -40px, 36px, 36px);
    display: inline-block;
    float: right;
}

.navmiddle {
    background-color: #b9e9f5;
    overflow: hidden;
    padding: 1% 1%;
    button {
        @include imgstyle(0, -76px, 52px, 52px);
        float: right;
        vertical-align: middle;
        border: none;
        background-color: #b9e9f5;
        display: inline-block;
    }
}

.navmiddleword {
    vertical-align: middle;
    font-size: 3rem;
    padding-left: 5%;
}

.triangle {
    margin-left: 10%;
    width: 0;
    height: 0;
    border-color: #b9e9f5 transparent transparent transparent;
    border-width: 0.5rem;
    border-style: solid;
}

.navbottom {
    background-color: #29bde0;
    color: white;
    font-size: 2rem;
    padding-left: 10%;
}

.click {
    width: 136px;
    height: 136px;
    padding: 0;
    text-align: center;
    margin: 0 5%;
}

.pi {
    display: none;
    margin-top: 21px;
}

.pi div {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: white;
    position: relative;
}

.pi p {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.click:hover .pi {
    display: block;
}

.middlediv {
    border: 5px solid white;
    background-color: #f5c97b;
    width: 17vh;
    height: 15vh;
    margin: 0 auto;
    position: relative;
}

.middledivspan1 {
    display: inline-block;
    color: #71685b;
    font-size: 4vh;
    margin-top: 20%;
}

.middledivspan2 {
    display: block;
    color: black;
    background-color: #83b09a;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
