* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}

body {
    margin: 1.5rem 0 1.5rem 0;
}

.nav {
    background-color: white;
}

.nav-head {
    position: relative;
    width: 100%;
    padding: .2rem .1rem;
    background-color: #5fc0cd;
    text-align: center;
}

.nav-head button {
    padding: 1% 2%;
    font-size: .2rem;
    vertical-align: middle;
    border: none;
    border-radius: .05rem;
}



.nav-findemploy {
    color: white;
    background-color: #55a8b3;
    margin-right: -2%;
}

.nav-findcarework {
    color: #5fc0cd;
    background-color: white;
}

.nav-head-right {
    position: absolute;
    right: .1rem;
    width: .42rem;
    height: .44rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/TASK6-2.png);
    background-size: .94rem 3.37rem;
    background-position: 0 0;
}





/*background-size，雪碧图自适应的关键属性*/

.dropbtn {
    position: relative;
    display: inline-block;
    margin-top: .1rem;
    width: 32%;
    font-size: .15rem;
    text-align: center;
    background-color: white;
    color: #afbac0;
    border-right: .01rem solid #ccc;
}

.dropbtn button {
    background-color: white;
    border: none;
}





/*下拉按钮*/

.triangle {
    display: inline-block;
    width: .13rem;
    height: .08rem;
    background: url(../img/TASK6-2.png);
    background-size: .94rem 3.37rem;
    background-position: 0 -0.53rem;
}





/*三角图标*/

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(175, 186, 192);
    list-style: none;
}





/* 下拉内容 (默认隐藏) */

.dropdown-content a {
    color: rgb(175, 186, 192);
    text-decoration: none;
    display: block;
    background-color: white;
    border-bottom: 1px solid rgb(175, 186, 192);
}






/* 下拉菜单的链接 */

.dropbtn:hover .dropdown-content {
    display: block;
}




/* 在鼠标移上去后显示下拉菜单 */

.dropdown-content li:hover a {
    color: #ffffff;
    background-color: #ccc
}




/*鼠标触碰到li，a标签样式改变*/

.middle {
    margin: 0;
    v padding: 0;
    list-style: none;
    border-top: .01rem solid #ccc;
}

.middle-service-img {
    display: inline-block;
    width: .24rem;
    height: .24rem;
    vertical-align: middle;
    background: url(../img/TASK6-2.png);
    background-size: .94rem 3.37rem;
    background-position: 0 -.65rem;
}

.middle-survicedata {
    display: inline-block;
    vertical-align: middle;
    font-size: .2rem;
    color: rgb(175, 186, 192);
}

.middle-data {
    display: inline-block;
    vertical-align: middle;
    font-size: .15rem;
}

.middle-right {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.red {
    display: inline-block;
    vertical-align: middle;
    color: red;
    font-size: .15rem;
}

.middle-right-img {
    display: inline-block;
    vertical-align: middle;
    width: .19rem;
    height: .33rem;
    background: url(../img/TASK6-2.png);
    background-size: .94rem 3.37rem;
    background-position: 0 -1.25rem;
}

.middle-place-img {
    display: inline-block;
    width: .19rem;
    height: .23rem;
    vertical-align: middle;
    background: url(../img/TASK6-2.png);
    background-position: 0 -.95rem;
    background-size: .94rem 3.37rem;
}

.middle-borderbottom {
    border-bottom: .01rem solid #ccc;
}

.bottom {
    padding: .1rem;
    text-align: center;
    background-color: white;
}

.bottom-list {

    list-style: none;
}

.bottom-list li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.bottom-list li a {
    text-decoration: none;
    color: none;
}

.bottom-home-img {
    display: inline-block;
    width: .46rem;
    height: .40rem;
    background: url(../img/TASK6-2.png);
    background-position: 0 -2rem;
    background-size: .94rem 3.37rem;
}

.bottom-home {
    color: rgb(95, 192, 205);
}

.bottom-middle {
    display: inline-block;
    margin: 0 .15rem;
    width: .94rem;
    height: .95rem;
    vertical-align: middle;
    background: url(../img/TASK6-2.png);
    background-position: 0 -2.43rem;
    background-size: .94rem 3.37rem;
}

.bottom-myself-img {
    display: inline-block;
    width: .42rem;
    height: .41rem;
    background: url(../img/TASK6-2.png);
    background-position: 0 -1.59rem;
    background-size: .94rem 3.37rem;
}

.bottom-myself {
    color: rgb(200, 201, 202);
}
