
html{
	font-size:625%;
}

.head{
	position:relative;
	padding:.1rem 0;
	text-align:center;
	background-color: rgb(95,192,201);
}

.head-right{
	position:absolute;
	left:.1rem;
	width:.21rem;
	height:.35rem;
	background: url(../img/TASK6-1.png);
	background-size:1.69rem 2.53rem;
	background-position: 0 0;
}

.head-home{
	font-size: .25rem;
	color:white;

}

.self{
	padding:.1rem .1rem;
	background-image: url(../img/TASK6-1background.png);
	background-size:cover;
}

.self-photo{
	display: inline-block;
	width:1.69rem;
	height:1.69rem;
	vertical-align: middle;
	background: url(../img/TASK6-1.png);
	background-position: 0 -.35rem;
	background-size:1.69rem 2.53rem;
}

.self-list{
	display: inline-block;
	vertical-align: middle;
	color:white;
	list-style: none;
}

.self-name{
	font-size:.3rem;
}

.self-age{
	font-size:.2rem;
}

.self-place-img{
	display: inline-block;
	width:.18rem;
	height:.24rem;
	vertical-align: middle;
	background: url(../img/TASK6-1.png);
	background-position: 0 -2.07rem;
	background-size:1.69rem 2.53rem;
}

.self-place{
	display: inline-block;
	vertical-align: middle;
	font-size:.15rem;
}

.skill{
	display:block;
	margin:.1rem .2rem;
	padding-left:.1rem;
	font-size:.15rem;
	border-left: .015rem solid rgb(95,192,201);
}

.middle{
	font-size:.15rem;
	list-style: none;
	border-top: .01rem solid #ccc;
	border-bottom: .01rem solid #ccc;
}




.middle span{
	display:inline-block;
	vertical-align: middle;
}

.middle-li1{
	padding:.1rem .1rem;
}

.middle-li{
	padding:.1rem .1rem;
	border-top:.01rem solid #ccc;
}

.middle-list1-border{
	border-right:.01rem solid #ccc;
}

.middle-list-right{
	padding-right: .1rem;
}

.middle-list-left{
	margin-left: .1rem;
}

.middle-list1-img{
	display: inline-block;
	width:.24rem;
	height:.24rem;
	vertical-align: middle;
	background: url(../img/TASK6-1.png);
	background-position: 0 -2.3rem;
	background-size:1.69rem 2.53rem;
}
.middle-list2-word{
	color: #ccc;
	border-right: 1px solid #ccc;
}

.middle-red{
	color:red;
}

.middle-selfintroduce{
	display:inline-block;
	width:50%;
	font-size:.12rem;
	word-wrap:break-word;
}


.bottom{
	text-align: center;
}
.bottom button{
	margin:.1rem .1rem;
	padding:.1rem 0;
	width:2rem;
	font-size:.15rem;
	text-align: center;
	border-radius:.1rem;
	border:.01rem solid #5fc0cd;

}
.bottom-message{
	color: #5fc0cd;
	background: white;
}
.bottom-call{
	color: white;
	background: #5fc0cd;
}
