* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%

}

.nav {
    padding:1% 1%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    overflow: hidden;
    background-color: #5fc0cd;
    color: white;
}

.navc-lose {
    float: left;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}




.nav-login {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}



.nav-register {
    float: right;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}


ul {
    padding:1rem 0;
    list-style: none;
    background-color: #eff0f4;
}

li {
    margin-top: 1rem;
    padding:1rem 0;
    background: white;
}

img {
    padding:0 0.5rem;
    width:1rem;
    vertical-align: middle;

}

input {
    padding:0 0.5rem;
    font-size: 1rem;
    color: black;
    vertical-align: middle;
    border: none;
    border-left: 0.1rem solid #eff0f4;
}

.bottom-login {
    width:100%;
    padding:0.5rem 0;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: #5fc0cd;
}

.lostpassword {
    float: right;
    padding-right:1rem;
    color: #5fc0cd;
    font-size: 1rem;

}
